.login-container{
    display: flex;
    justify-content: center;
    height: 380px;
}

.login-box{
    background-color: rgba(210, 235, 168, 0.985);
    border-radius: 10px 10px;
    padding: 20px 25px;
    margin-top: auto;
    min-width: 250px;
}

.login-box form p,  .login-box form input{
    margin: 0px 0px;

}

.login-box form p {
    margin-bottom: 5px;
}

.login-box form input {
    margin-bottom: 13px;
}

.login-box form button {
    margin: 10px 0px;
}

.login-box form button:hover {
    background-color: #fff;
    cursor: pointer;
}

.login-box form input, .login-box form button {
    border-radius: 5px;
    border-style: none;
    padding: 8px 5px;
}

.login-box form input:focus {
    outline: none;
}

.login-box, .login-box form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.switch-button {
    display: inline-block;
    width: fit-content;
    background: none;
    border: none;
    margin: auto;
}

.switch-button:hover {
    cursor: pointer;
    text-decoration: underline;
}